{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Blog!</h1>

    {# <img src="{{ resource_url('../public/images/dog.jpg') }}" /> #}

    <p>This application demonstrates the use of <a href="http://puli.io">Puli</a>,
    <a href="http://silex.sensiolabs.org">Silex</a> and
    <a href="http://gulpjs.com">Gulp JS</a> in a web application.</p>
{% endblock %}
