<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Puli Demo Blog</title>

    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
Blog Application &raquo; <strong>Home</strong>

{% block content %}{% endblock %}

<hr/>

&copy; 2015 Bugs Bunny

{% block javascripts %}{% endblock %}
</body>
</html>
